In [1]:
import os
import requests
import pandas as pd
from datetime import datetime
from bokeh.plotting import figure, show

In [2]:
API_key = os.environ.get('API_ALPHA_VANTAGE')
ticker = 'AAPL'
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={}&outputsize=full&apikey={}'.format(ticker,API_key)
r = requests.get(url)
data = r.json()

In [3]:
df = pd.DataFrame(data['Time Series (Daily)'])
df = df.transpose(copy=True)
df.columns = ['Open','High','Low','Close','Volume']
df.index = pd.to_datetime(df.index)
df.tail()

               Open     High      Low    Close   Volume
1999-11-05  84.6200  88.3700  84.0000  88.3100  3721500
1999-11-04  82.0600  85.3700  80.6200  83.6200  3384700
1999-11-03  81.6200  83.2500  81.0000  81.5000  2932700
1999-11-02  78.0000  81.6900  77.3100  80.2500  3564600
1999-11-01  80.0000  80.6900  77.3700  77.6200  2487300

In [4]:
close = df['Close']
month = 'February'
year = '2021'
select_close = close.loc[month+' '+year]
select_close.head()

2021-02-26    121.2600
2021-02-25    120.9900
2021-02-24    125.3500
2021-02-23    125.8600
2021-02-22    126.0000
Name: Close, dtype: object

In [5]:
fig = figure(x_axis_type='datetime', title=ticker+' '+'Close Price,'+month+' '+year, x_axis_label='Date', y_axis_label='Price')
x = select_close.index
y = select_close.values
fig.line(x, y, legend_label='Close', line_width=2)
show(fig)